/* SC changes 16.09.2025 */

.sc-package__header {
    color:#000;
    font-size:18px;
}

.sc-package__wrapper {
    border:1px solid #cccccd;
    border-radius:10px;
    padding:28px;
    margin-bottom:20px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.sc-package .form__label span {
    font-weight: 500;
    font-size: 1.4rem;
}

.sc-package .sc-package__wrapper .product-form__input:not(.product-form__input--quantity-breaks) input[type=radio]+label {
    padding-bottom:15px;
    padding-left:22px;
    padding-right:22px;
    padding-top:15px;
    font-weight: bold;
    border:1px solid #cccccd;
}

.sc-package .sc-package__wrapper .product-form__input:not(.product-form__input--quantity-breaks) input[type=radio]:checked+label {
    background-color:rgb(246, 255, 247);
    border:1px solid rgb(65, 168, 66);
}

.sc-package .sc-package__wrapper .product-form__input:not(.product-form__input--quantity-breaks) input[type=radio]:checked+label,
.sc-package .sc-package__wrapper .product-form__input:not(.product-form__input--quantity-breaks) input[type=radio]:checked+label span {
    color: rgb(18, 18, 18);
}

.sc-package .sc-package__amount label {
    display:flex;
    align-items: center;
    gap: 7px;
    border: 1px solid #cccccd;
    border-radius: 10px;
    padding:20px 15px 20px 10px;
    cursor:pointer;
    width:100%;

    position: relative;
}

.sc-amount__popular {
    position: absolute;
    top: 0;
    left: 10px;
    background-color: #b9d4ff;
    color: #000;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 600;
    transform: translateY(-50%);
}
.sc-amount__recommended {
    position: absolute;
    top: 0;
    left: 10px;
    background-color: #ffd678;
    color: #000;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 600;
    transform: translateY(-50%);
}

.sc-package .sc-package__amount label:has(input:checked) {
    background-color: #f6fff7;
    border: 1px solid #41a842;
} 

.sc-package .product-form__input.product-form__input--amount input[type=radio] {
    position: unset;
    height: 20px;
    width: 20px;
}

.sc-package .sc-package__amount {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width:100%;
}

.sc-package .sc-package__amount label .sc-package__value-block {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.sc-package .sc-package__amount label .sc-package__value-block .sc-package__value-col1 {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.sc-package .sc-package__amount label .sc-package__value-block .sc-package__value-save {
    font-weight: 600;
    font-size: 14px;
    color:#fff;
    background:#022b78;
    padding:5px 10px;
    border-radius:6px;
}

.sc-package .sc-package__amount label .sc-package__value-block .sc-package__value-col2 {
    display:flex;
    align-items: center;
}

.sc-package .product-form__input.product-form__input--amount {
    width:100%;
    max-width: unset;
}

.sc-package .sc-package__value-row1 {
    font-weight: 600;
    color: #000;
}

.sc-package__value-row2 {
    font-size: 14px;
    color: #555;
}


@media screen and (min-width: 750px) and (max-width: 1020px) {
    .sc-package__wrapper {
        padding: 15px;
    }
	.sc-package .sc-package__amount label .sc-package__value-block {
        display: flex;
        gap: 5px;
    }
    .sc-package .sc-package__amount label {
        gap: 5px;
        padding: 20px 10px 20px 10px;
    }
    .template-suffix--sc-flow .product__info-wrapper {
        padding: 0 0 0 2rem !important;
    }
    .sc-package .sc-package__amount label .sc-package__value-block .sc-package__value-save {
        font-size: 12px;
        padding: 5px 5px;
    }
    .sc-package .sc-package__value-row1 {
        font-size: 15px;
    }
    .sc-package__value-row2 {
        font-size: 13px;
    }
    .sc-package .product-form__input.product-form__input--amount input[type=radio] {
        height: 18px;
        width: 18px;
    }
    .sc-package .sc-package__wrapper .product-form__input:not(.product-form__input--quantity-breaks) input[type=radio]+label {
        padding: 12px 18px;
        font-size: 13px;
    }
}

@media screen and (min-width: 375px) and (max-width: 450px) {
    .sc-package__wrapper {
        padding: 20px;
    }
    .sc-package .product-form__input {
        flex: 0 0 100%;
        padding: 0;
        margin: 0 0 1.5rem;
        max-width: 37rem;
        min-width: fit-content;
        border: none;
    }
    .sc-package .sc-package__amount label .sc-package__value-block {
        gap:5px;
    }
}

@media screen and (min-width: 100px) and (max-width: 374.99px) {
    .sc-package__wrapper {
        padding: 20px;
    }
    .sc-package .product-form__input {
        flex: 0 0 100%;
        padding: 0;
        margin: 0 0 1.5rem;
        max-width: 37rem;
        min-width: fit-content;
        border: none;
    }
    .sc-package .sc-package__amount label .sc-package__value-block {
        gap:5px;
    }

    .sc-package .product-form__input.product-form__input--amount input[type=radio] {
        height: 18px;
        width: 18px;
    }
    .sc-package .sc-package__amount label .sc-package__value-block .sc-package__value-save {
        font-size: 13px;
        padding: 5px 8px;
    }
    .sc-package .sc-package__wrapper .product-form__input:not(.product-form__input--quantity-breaks) input[type=radio]+label {
        padding: 12px 18px;
        font-size: 13px;
    }
}
