/* SC changes 16.09.2025 */

.sc-package__header {
    color:#000;
    font-size:18px;
}

.sc-package__wrapper {
    border:1px solid #cccccd;
    border-radius:10px;
    padding:28px;
    margin-bottom:20px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.sc-package .form__label span {
    font-weight: 500;
    font-size: 1.4rem;
}

.sc-package .sc-package__wrapper .product-form__input:not(.product-form__input--quantity-breaks) input[type=radio]+label {
    padding-bottom:15px;
    padding-left:22px;
    padding-right:22px;
    padding-top:15px;
    font-weight: bold;
    border:1px solid #cccccd;
}

.sc-package .sc-package__wrapper .product-form__input:not(.product-form__input--quantity-breaks) input[type=radio]:checked+label {
    background-color:rgb(246, 255, 247);
    border:1px solid rgb(65, 168, 66);
}

.sc-package .sc-package__wrapper .product-form__input:not(.product-form__input--quantity-breaks) input[type=radio]:checked+label,
.sc-package .sc-package__wrapper .product-form__input:not(.product-form__input--quantity-breaks) input[type=radio]:checked+label span {
    color: rgb(18, 18, 18);
}

.sc-package .sc-package__amount label:not(.sc-switch) {
    display:flex;
    align-items: center;
    gap: 7px;
    border: 1px solid #cccccd;
    border-radius: 10px;
    padding:20px 15px 20px 10px;
    cursor:pointer;
    width:100%;

    position: relative;
}

.sc-amount__popular {
    position: absolute;
    top: 0;
    left: 10px;
    background-color: #b9d4ff;
    color: #000;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 600;
    transform: translateY(-50%);
}
.sc-amount__recommended {
    position: absolute;
    top: 0;
    left: 10px;
    background-color: #ffd678;
    color: #000;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 600;
    transform: translateY(-50%);
}

.sc-package .sc-package__amount label:not(.sc-switch):has(input:checked) {
    background-color: #f6fff7;
    border: 1px solid #41a842;
} 

.sc-package .product-form__input.product-form__input--amount input[type=radio] {
    position: unset;
    height: 20px;
    width: 20px;
}

.sc-package .sc-package__amount {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width:100%;
}

.sc-package .sc-package__amount label .sc-package__value-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width:100%;
}

.sc-package .sc-package__amount label .sc-package__value-block .sc-package__value-block-row1 {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    gap: 6px;
    width: 100%;
}

.sc-package .sc-package__amount label .sc-package__value-block .sc-package__value-col1 {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.sc-package .sc-package__amount label .sc-package__value-block .sc-package__value-save {
    font-weight: 600;
    font-size: 14px;
    color:#fff;
    background:#022b78;
    padding:5px 10px;
    border-radius:6px;
}


.sc-package .sc-package__amount label .sc-package__value-block .sc-package__value-col2 {
    display:flex;
    align-items: center;
    justify-content: flex-end;
}
.sc-package .sc-package__amount label .sc-package__value-block .sc-package__value-col3 {
    display:flex;
    align-items: center;
    justify-content: flex-end;
}

.sc-package .product-form__input.product-form__input--amount {
    width:100%;
    max-width: unset;
}

.sc-package .sc-package__value-row1 {
    font-weight: 600;
    color: #000;
}

.sc-package__value-row2 {
    font-size: 14px;
    color: #555;
}

.sc-package__amount label .sc-package__value-block-row2 {
    padding-top: 4px;
    max-height: 0;
    overflow: hidden;
    /* transition: max-height 0.3s ease-out; */
}
.sc-package__amount label:has(input:checked) .sc-package__value-block-row2 {
    max-height:1000px;
}


.sc-benefits .sc-benefits__list {
    margin: 0;
    padding: 0 0 0 16px;
}
.sc-benefits ul.sc-benefits__list li::marker {
    color: green;
    content: "\2714";
}
.sc-benefits ul.sc-benefits__list li {
    padding-left:6px;
}



.sc-subscription-box {
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 5px;

  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 12px 16px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.sc-package .sc-package__amount label.sc-switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 24px;
  margin-right: 12px;
}

.sc-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.sc-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0a0a0a;
  transition: .4s;
  border-radius: 24px;
}

.sc-slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

.sc-switch input:checked + .sc-slider {
  background-color: #0a84ff;
}

.sc-switch input:checked + .sc-slider:before {
  transform: translateX(22px);
}

.sc-subscription-text strong {
  font-weight: 600;
  color: #000;
}

.sc-subscription-text span {
  color: #555;
}

.sc-subscription-text a {
  color: #000;
  text-decoration: underline;
}

#sc-loop {
    overflow: hidden;
}
#sc-loop.sc-loop-hide {
    max-height: 0;
    position:absolute;
    visibility: hidden;
    left:-9999px;
    top:-9999px;
}


@media screen and (min-width: 1020px) and (max-width: 1292px) {
    .sc-package .sc-package__amount label .sc-package__value-block .sc-package__value-block-row1 {
        grid-template-columns: 1.5fr 1fr 0.6fr;
    }
    .sc-benefits ul.sc-benefits__list li {
        font-size: 14px;
    }
    .sc-benefits .sc-benefits__list {
        padding: 0 0 0 12px;
    }
}

@media screen and (min-width: 1171px) and (max-width: 1019.99px) {
    .sc-package .sc-package__amount label .sc-package__value-block .sc-package__value-block-row1 {
        grid-template-columns: 1.5fr 1fr 0.6fr;
    }
    .sc-benefits ul.sc-benefits__list li {
        font-size: 14px;
    }
    .sc-benefits .sc-benefits__list {
        padding: 0 0 0 12px;
    }
}

@media screen and (min-width: 1121px) and (max-width: 1170.99px) {
    .sc-package .sc-package__amount label .sc-package__value-block .sc-package__value-block-row1 {
        grid-template-columns: 1.5fr 1fr 0.6fr;
    }
    .sc-benefits ul.sc-benefits__list li {
        font-size: 14px;
    }
    .sc-benefits .sc-benefits__list {
        padding: 0 0 0 12px;
    }
}

@media screen and (min-width: 750px) and (max-width: 1120.99px) {
    .sc-package .sc-package__amount label .sc-package__value-block .sc-package__value-block-row1 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .sc-package .sc-package__amount label .sc-package__value-block .sc-package__value-col2, 
    .sc-package .sc-package__amount label .sc-package__value-block .sc-package__value-col3 {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .sc-benefits ul.sc-benefits__list li {
        font-size: 14px;
    }
    .sc-benefits .sc-benefits__list {
        padding: 0 0 0 12px;
    }
    .sc-package__amount label .sc-package__value-block-row2 {
        padding-top: 5px;
    }
}



@media screen and (min-width: 375px) and (max-width: 500px) {
    .sc-package__wrapper {
        padding: 20px;
    }
    .sc-package .product-form__input {
        margin: 0 0 1.5rem;
    }
    .sc-package .sc-package__amount label .sc-package__value-block {
        gap:5px;
    }
}

@media screen and (min-width: 100px) and (max-width: 374.99px) {
    .sc-package__wrapper {
        padding: 15px;
    }
    .sc-package .product-form__input {
        margin: 0 0 1.5rem;
    }
	.sc-package .sc-package__amount label .sc-package__value-block {
        display: flex;
        gap: 5px;
    }
    .sc-package .sc-package__amount label:not(.sc-switch) {
        gap: 5px;
        padding: 20px 10px 20px 10px;
    }
    .sc-package .sc-package__amount label .sc-package__value-block .sc-package__value-save {
        font-size: 12px;
        padding: 5px 5px;
    }
    .sc-package .sc-package__value-row1 {
        font-size: 15px;
    }
    .sc-package__value-row2 {
        font-size: 13px;
    }
    .sc-package .product-form__input.product-form__input--amount input[type=radio] {
        height: 18px;
        width: 18px;
    }
    .sc-package .sc-package__wrapper .product-form__input:not(.product-form__input--quantity-breaks) input[type=radio]+label {
        padding: 12px 18px;
        font-size: 13px;
    }
}
